body{
	background-color:#ffffff;
	display:block;
	margin:0;
}

.container{
	margin:0;
	overflow:hidden;
}


#navbar{
	background-color:white;
	color:black;
}

#navbar ul{
	margin:auto;
	list-style-type:none;
	padding:10px;
	text-align: center;

}

#navbar li{
	display:inline;
     font-size: 25px;
     font-family: arial;
     font-weight:bold;
}

#navbar a{
	color:#aaaaaa;
	font-size:15px;
	padding:10px 20px;
	text-align: center;
	text-decoration:none;
    display:inline-block;
}

#navbar a:hover{
	color:blue;
	text-decoration: underline;
}


#showcase{
    
	text-align: center;
	margin:auto;
	height: 500px;
	width:100%;
	background-image: url("../image/bg.png");
	float:center;
	background-repeat: no-repeat;
}

.div-1{
	margin:8% 30%;
	display:inline-block;
	width:40%;
	text-align: center;
	
}

#showcase h1{
	text-align: center;
	font-family: arial,gadget ,sans-serif;
	font-size:45px;
	font-weight: 50;
	color:#000310;
}

#showcase p{
   font-size: 15px;
   font-family:arial black,gadget , sans-serif;
}

.button{
	background-color:#2e2e2c;
	color:#ccc;
	padding:12px 30px;
	font-family: tahoma;
	margin:15px 0;
	cursor: pointer;
}


.div-2{

	text-align: center;
	width:40%;
	margin:5% 30%;
}

#showcase-2 h2{
	text-align: center;
	color:#73a8c4;
	margin:0 10%;
	font-size:30px;
	

}

#showcase-2 p{
	text-align: center;
	color:#101010 solid;
	font-family:arial,gadget, sans-serif;
	padding-top:10px;
	font-size:15px;
	line-height: 1.6em;
}

.container-1{
	display:flex;
	justify-content: center;
	justify-content: :space-between;
	margin:0 20%;
	
}

.container-1 div{
	border:1px white solid;
	padding: 15px;
	line-height: 1.5em;
    justify-content:space-between;
    justify-content: center;
}

.block-1{
  flex:1;
  text-align: center;
 
}

.block-1 h2{
	color:#6db6df;

}

@media (max-width: 300px){
	#navbar ul,#navbar li{
		display: block;
		float:none;
	}
	#navbar a{
		display: block;
		float:none;
		width:100%;
	}
}
