body{
	background-color:#ffffff;
	display:block;
}

.container{
	margin:0;
	overflow:hidden;
}


#navbar{
	background-color:white;
	color:black;
}

#navbar ul{
	margin:auto;
	list-style-type:none;
	padding:10px;
	text-align: center;

}

#navbar li{
	display:inline;
     font-size: 20px;
}

#navbar a{
	color:#aaaaaa;
	font-size:15px;
	padding:10px 20px;
	text-align: center;
	text-decoration:none;
    display:inline-block;
}

#navbar a:hover{
	color:blue;
	text-decoration: underline;
}


#showcase{
	background-color:#6eb6dc;
	text-align: center;
	margin:0;
	height: 350px;
}

.div-1{
	margin:60px 80px;
	display:inline-block;
	width:60%;
	
}

#showcase h1{
	text-align: center;
	font-family: arial;
	font-weight: 20;
	font-size:30px;
	color:#091015;
}

#showcase p{
   font-size: 15px;
	font-weight: 10px
}