body{
	background-color: #fff;
	display:block;
	margin:0;
}
/*
#main-header{
	position: fixed;
	top: 0;
	width:100%;
}
*/
.container{
	margin:0;
	overflow:hidden;
	background-color: #1d5efa;

}

.navbar {
	display:inline-block;
	background-color: #1d5efa;
	color:#f5feff;

}

.navbar ul{
	list-style-type: none;
	margin:auto;
	text-align:right;
	padding: 20px;
	

}

.navbar li{
	color:#f5feff;
	font-family:arial; 
    float:right;
}
.navbar a /* .dropbtn  */ {
	text-decoration: none;
	font-family:arial;
	color:#d7e9fd;
	padding: 15px 60px;
	margin:5px 15px;
	display:inline-block;
	font-weight: bold;
	border-radius: 8px;
	margin-left: 30px;
}

.navbar a:hover   /*, .dropdown:hover, .dropbtn  */{
	color:white solid;
	background-color: lightblue;
}

/*
.dropdown{
	display: inline-block;
}

.dropdown-contant{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}  */


.section1{
	background-color: #1d5efa;
	height: 530px;
	background-image: url("../image/web3.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.div-1 {
   margin:0 60px;
   padding:8% 55% 10% 5%;
   line-height: 1.7em;
   display:inline-block;
 }

 .div-1 h1{
 	color:white;
 	font-family: arial;
 	font-weight: bold;
 	font-size: 45px;

 }

.div-1 p{
   color:#c4d5ef;
   font-family: arial;
   font-weight: bold;
   font-size: 20px;

}

.button{
	background-color:#0078ff;
	color:#e6fdff;
	font-family:arial;
	font-size: 17px;
	padding:15px 30px;
	margin:10px 0;
	border-radius:8px;
	cursor: pointer;
	border-style: none;
}

#section2{
	background-color: #f9f9f9;
	display: inline-block;
	width:100%;
}
.div-2 ul{
   list-style-type: none;

}

.div-2 li{
	color:#bebdc2;
	display: inline-block;
	padding:2% 5%;
	font-size: 30px;

}

#section3{
	background-color: #e7eaef;
}
#section3 h2{
	text-align: center;
	font-size: 40px;
	font-family: arial;
}

.div-3{
	display:flex;
	margin:0 15%;
	background-color:#fff; 
	font-family: arial;
}

.div-3 div{
	justify-content: center;
	justify-content: space-between;
	border:1px #fff;
	padding:10px;
	line-height: 1.3em;

}

.block1{
	flex:1;
	text-align: center;
	font-size: 20px;
}
